.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}
.start{
    fill: green;
}
.end{
    fill: red;
}
text {
    font: 12px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
text.link-text{
    text-shadow: 0;
}
